 <div>
    <h3 id="syllabus-r">R for Reproducible Scientific Analysis</h3>
    <ul>
      <li>Using R studio</li>
      <li>Getting help</li>
      <li>Working with vectors and data frames</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Reading and plotting data</li>
      <li>Data manipulation</li>
      <li>Data analysis - worked example</li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/reference.html">Reference...</a></li>
    </ul>
    </div>
